<h1>NIRMAAN ORG</h1>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="html">HTML</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="css">CSS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signin">SIGNIN</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="technologies" id="navbardrop" data-toggle="dropdown">
          Technologies
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="technologies/javascript">Javascript</a>
          <a class="dropdown-item" routerLink="technologies/typescript">Typescript</a>
          <a class="dropdown-item" routerLink="technologies/angular">Angular</a>
        </div>
      </li>
    </ul>
  </nav>
  




<router-outlet></router-outlet>